.linksAtajos {
	@include displayFlex(row, center, center);
}
.linkAtajo {
	@include displayFlex(column, center, start);
	width: 150px;
	height: 75px;
	cursor: pointer;
	& img {
		width: 20px;
		height: 20px;
	}
	& h4 {
		color: $clr-black;
		font-family: "Poppins", sans-serif;
		font-size: 1rem;
		font-weight: 400;
		margin-top: 0.5rem;
		text-align: center;
		transition: font-weight 100ms linear;
		@include tablet {
			font-size: 1.2rem;
		}
	}
	&:hover {
		& h4 {
			font-weight: 700;
		}
		& img {
			-webkit-animation: rotate-center 2s linear infinite both;
			animation: rotate-center 2s linear infinite both;
		}
	}
}
