.about {
	$ancho-separador-intro: clamp(600px, 98vw, 670px);
	&__intro {
		@include displayFlex(column, center, center);
		margin-top: $marginTopSections;
		margin-inline: auto;
		@include tablet {
			flex-direction: row;
			justify-content: space-evenly;
			width: $ancho-separador-intro;
		}
		&__img {
			@include bigImgs;
			margin-bottom: 1rem;
			& img {
				width: 100%;
				border-radius: 50%;
			}
		}
		&__text {
			& h2 {
				text-align: center;
				@include tablet {
					text-align: left;
				}
			}
			& p {
				text-align: center;
				@include tablet {
					text-align: left;
					max-width: 350px;
				}
			}
		}
	}
	&__separador {
		@include tablet {
			display: flex;
			width: $ancho-separador-intro;
			margin: auto;
			justify-content: center;
		}
	}
	&__cv {
		@include displayFlex(column, center, center);
		margin-top: $marginTopSections;
		@include tablet {
			width: 100%;
		}
		&__info {
			padding: 1rem;
			&__label {
				@include thirdTitle;
			}
		}
		& .cvGroup {
			margin-bottom: 2rem;
			@include tablet {
				margin-bottom: 0rem;
			}
			& span {
				display: block;
				font-size: 1.8rem;
				font-weight: 500;
				text-align: left;
			}
			& ul {
				padding-left: 0px;
				@include tablet {
					padding-left: 1rem;
				}
			}
			& .cvData {
				@include displayFlex(row, flex-start, space-between);
				font-size: 1.2rem;
				@include tablet {
					font-size: 1.4rem;
				}

				&:not(:first-child) {
					margin-top: 1rem;
				}
				& span {
					display: inline-block;
					width: 60px;
					@include tablet {
						width: 70px;
					}
				}
			}
		}
		& a {
			@include displayFlex(row, center, space-between);
			cursor: pointer;
			background-color: $clr-blue;
			width: 170px;
			margin-block: auto;
			padding: 0.5rem 1.2rem;
			border-top-left-radius: 2.3rem;
			border-bottom-left-radius: 2.3rem;
			border-top-right-radius: 2.3rem;
			border-bottom-right-radius: 2.3rem;
			transition: scale 100ms linear, background-color 100ms linear;
			border: none;
			& span {
				width: 115px;
				font-weight: 500;
				font-size: 1.1rem;
				color: $clr-white;
			}
			& svg {
				color: $clr-black;
				width: 26px;
				height: 26px;
				background-color: $clr-white;
				border-radius: 50%;
				padding: 0.25rem;
			}
			&:hover {
				scale: 1.05;
				background-color: $clr-light-blue;
			}
		}
	}
	&__technologies {
		@include displayFlex(column, center, center);
		margin: $marginTopSections auto 0px auto;
		padding: $padding-mobile;
		max-width: 400px;
		@include tablet {
			justify-content: flex-start;
			width: 100%;
		}
	}
	&__button {
		@include displayFlex(column, center, center);
		margin-block: $marginTopSections;
	}
}
