// Colors
$clr-white: #e8e8e8;
$clr-blue: #030029;
$clr-black: #080808;
$clr-brown: #77541d;
$clr-green: #09200d;
$clr-light-gray: #d1d0d0;

$clr-light-blue: #231e62;
$clr-light-brown: #5d3818;
$clr-light-green: #165221;

// Margins & Paddings
$marginTopSections: 3rem;
$navbarHeight: 60px;
$padding-mobile: 1rem;

// Bordes
$border-radius: 0.25rem;
